<button type="button" name="button" class="btn">
  <a href="/recipe_form">Add Recipe</a>
</button>

<h3>List of Recipes</h3>

<% if @recipes.any? %>
  <ul class="recipes">
    <% @recipes.each do |recipe| %>
    <li data-sort="<%= recipe.rating %>"><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a> Rating: <%= recipe.rating %> </li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no recipes!</p>
<% end %>


<h3>Search for recipes by ingredients:</h3>
<form action="/recipes_by_ingredient" method="patch">
  <label for="ingredient">Ingredient:</label>
  <input type="text" name="ingredient" class="form_control">
  <button type="submit" name="button" class="btn">Find</button>
</form>
