<form class="" action="/add_recipe" method="post">
  <h3>Name of the Recipe</h3>
  <label for="name">Name:</label>
  <input type="text" name="name" class="form-control">
  <button type="submit" class="btn">Add Recipe</button>
</form>

<a href="/">
  <button type="button" class="btn">Home</button>
</a>
